
meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover")
meta(name="theme-color" content="#FF5036")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="")
meta(name="apple-mobile-web-app-title" content="Unixis Design")
meta(name="application-name" content="Unixis Design")
meta(charset="utf-8")
title Unixis Design
meta(name="keyword" content="")
meta(name="description" content="")
link(rel="short icon" href="../img/icon/favicon.ico")
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
link(href="../css/lib.css" rel="stylesheet")
link(href="../css/style.css" rel="stylesheet")